.item {
    position: relative;
    max-width: 100% !important;
    img{    width: 110px;}
    h1{
        text-align: center;
    }
    span {
        cursor: pointer;
        position: absolute;
        top: -50px;
        right: -50px;
        padding: 5px;
        border-left: 1px solid #999;
        border-bottom: 1px solid #999;
        border-radius: 0 0 0 3px;

    }
}