.main {
    .box {
        padding:50px;
        border-radius: 8px;
        border:1px solid #999;
        cursor: -webkit-grab;
        margin:3px;
        &:active { 
            cursor: grabbing;
        }
        &:hover{
            box-shadow: 2px 4px 2px rgba(0,0,0,.5);
        }
    }
    .placeholder {
        opacity: 0.5;
      }
}